@forward 'assets/main';
@forward 'assets/navbar';
@forward 'assets/now_playing';
@forward 'assets/settings';
@forward 'assets/top_bar';

/* After any changes to app.scss: 
    sass --no-source-map app.scss user.css
    Apply with `./apply.sh`
*/

/* We can not use raw.githubusercontent.com if we want to import CSS 
since this returns content with 'text/plain' and spotify 
enforces responses with 'text/css' */

img.main-trackList-playingIcon {
    // Alternativly to avoid a fetch over the internet: 
    //    https://lofy:3443/resc/amp.gif 
    content:url("https://kafva.github.io/spicetify-theme/assets/amp.gif");
}

// The first selector includes the square box around play buttons
// The default CSS is hooked up such that hover events on the outer container
// affect the button (.encore-bright-accent-set) inside it
// We override with the same behaviour
button[aria-label^='Play'][class^='Button-']:hover > div.encore-bright-accent-set {
	background-color: #bb92ac !important;
}

button[aria-label^='Pause'][class^='Button-']:hover > div.encore-bright-accent-set { 
	background-color: #bb92ac !important;
}

:root {
    --border-radius: 8px;

    button, input, img { border-radius: var(--border-radius);}

    // -- Other --

    // Red hearths
    .main-trackList-rowHeartButton *:not([fill=none]), .control-button-heart *:not([fill=none]) { color: #d25050 !important;  fill: #d25050 !important;}
    .main-trackList-rowSectionEnd .main-addButton-active, .main-trackList-rowSectionEnd .main-addButton-active:focus, .main-trackList-rowSectionEnd .main-addButton-active:hover { color: #d25050;}

    // Lyrics plus
    .lyrics-lyricsContainer-LyricsBackground { 
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        mask-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }

    #context-menu {
        overflow: hidden;

        ul {
            padding: 0;
            background-color: var(--spice-player);

            button, a {
                border-radius: 0;

                &::before, &::after { content: none;}
                &:not(.main-contextMenu-disabled):focus, &:not(.main-contextMenu-disabled):hover, &[aria-expanded=true] { background-color: #5c6eb12a; transition: 150ms background-color;}
            }
        }
    }

    #bookmark-menu {
        background-color: var(--spice-player);
        border-radius: var(--border-radius);

        .bookmark-filter { background-color: var(--spice-player);}

        button, a {
            border-radius: 0;

            &::before, &::after { content: none;}
            &:not(.main-contextMenu-disabled):focus, &:not(.main-contextMenu-disabled):hover, &[aria-expanded=true] { background-color: #5c6eb12a; transition: 150ms background-color;}
        }
    }

}
