:root .Root__now-playing-bar {

  .main-nowPlayingBar-container {
    position: relative;
    border-top: none; background-color: transparent;

    .main-nowPlayingBar-nowPlayingBar { 
      box-sizing: content-box;
      padding-bottom: 16px;

      // Cover-art
      .main-nowPlayingWidget-nowPlaying {
        &.main-nowPlayingWidget-coverExpanded { transform: translateX(-100px);}

        .main-coverSlotCollapsed-container {
          top: -20px;
            
          .cover-art { 
            width: 84px !important; height: 84px !important;
            border-radius: var(--border-radius); overflow: hidden;
          }
        }
      } 
    }

    .main-connectBar-connectBar {
      position: absolute;
      top: -15px; right: 15px;
      padding: 4px 8px; box-sizing: content-box;
      border-radius: var(--border-radius);
      color: #fff; background-color: var(--spice-sidebar);

      &::after { content: none;}
    }
  }

  .playback-bar { 
    position: absolute; display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "time-left time-right"
                          "bar bar";
    bottom: 0;
    
      .saber-hilt { height: 0;}
  
      .playback-progressbar {
        grid-column: 1/3;
        grid-area: bar;

        & > div > div {
          --progress-bar-height: 12px;
          --progress-bar-radius: 0;

          & > div > div {
            width: 105%; background-color: transparent;
            background-image: linear-gradient(90deg, #bb92ac 93%, transparent 100%);
          }
        }
        .progress-bar__slider { display: none;}
      }

    & > div:first-of-type { grid-area: time-left;} 
    & > div:last-of-type { grid-area: time-right;}

    // Cursor
    button { width: 0;}
  }
}